<script>

    //Locais
    var locais = new Array();

    //Hospedagens
    var hospedagens = new Array();
    var comprasHospedagens = new Array();
    var ticketsHospedagens = new Array();

    //Viagens
    var viagens = new Array();
    var compraViagens = new Array();
    var ticketsViagens = new Array();
    
    function BaixaLocais() {
        $.getJSON("http://localhost:64421/api/Local", function (json) {
            for (var k in json)
                locais[k] = json[k];
            document.getElementById("Teste").innerHTML += "Locais " + locais[0].Nome + "(" + locais.length + ") < br > ";
        });
    }

    function BaixaHospedagens() {
        $.getJSON("http://localhost:64421/api/Hospedagem", function (json) {
            for (var k in json)
                hospedagens[k] = json[k];

            document.getElementById("Teste").innerHTML += "Hospedagens " + hospedagens[0].QuartosDisponiveis + "(" + hospedagens.length + ")<br>";
            
        });
    }

    function BaixaViagens() {
        $.getJSON("http://localhost:64421/api/Viagem", function (json) {
            for (var k in json)
                viagens[k] = json[k];
            document.getElementById("Teste").innerHTML += "Viagens " + viagens[0].QtdDisponivel + "(" + viagens.length + ")<br>";
        });
    }

    function BaixaDados() {
        
        BaixaLocais();
        BaixaHospedagens();
        BaixaViagens();
       
    }

    function MostraDados() {

        for (var i in hospedagens) {

            var hospedagemAtual = hospedagens[i];
            var localAtual = "";

            for (var k in locais) {
                if (hospedagemAtual.IdLocal == locais[k].Id) {
                    localAtual = locais[k].Nome;
                }
            }

            document.getElementById("Hospedagens").innerHTML += "<div> Id:" + hospedagemAtual.Id +
                "<br> Local: " + localAtual +
                "<br> Quartos Disponíveis: <span id='quartosDisponiveis" + hospedagemAtual.Id + "'>" + hospedagemAtual.QuartosDisponiveis + "</span>" +
                "<br> Pessoas: <input id='QtdPessoasHospedagem" + hospedagemAtual.Id + "'>" +
                "<br> <button id = '" + hospedagemAtual.Id + "' onClick='ComprarHospedagem(this.id)'>Finalizar Compra</button>" +
                "<br> <span id='respostaHospedagem" + hospedagemAtual.Id + "'></div > <br>";

        }

        for (var i in viagens) {

            var viagemAtual = viagens[i];
            var LocalOrigem = "";
            var LocalDestino = "";

            for (var k in locais) {
                if (viagemAtual.IdLocalOrigem == locais[k].Id) {
                    LocalOrigem = locais[k].Nome;
                }
                if (viagemAtual.IdLocalDestino == locais[k].Id) {
                    LocalDestino = locais[k].Nome;
                }
            }

            document.getElementById("Viagens").innerHTML += "<div> Id:" + viagemAtual.Id +
                "<br> Origem: " + LocalOrigem +
                "<br> Destino: " + LocalDestino + 
                "<br> Passagens Disponíveis: <span id='passagensDisponiveis" + viagemAtual.Id + "'>" + viagemAtual.QtdDisponivel + "</span>" +
                "<br> Pessoas: <input id='QtdPessoasViagem" + viagemAtual.Id + "'>" +
                "<br> <button id = '" + viagemAtual.Id + "' onClick='ComprarViagem(this.id)'>Finalizar Compra</button>" +
                "<br> <span id='respostaViagem" + viagemAtual.Id + "'></div > <br>";

        }

    }

    function ComprarHospedagem(idHospedagemAtual) {

        var qtdPessoas = document.getElementById("QtdPessoasHospedagem" + idHospedagemAtual).value;
        //alert(qtdPessoas + " pessoas compraram para hospedagem " + idHospedagemAtual);

        $.ajax({
            url: 'http://localhost:64421/api/Hospedagem/' + idHospedagemAtual + '/' + qtdPessoas,
            type: 'GET',
            success: function (response) {

                if (response == -1) {
                    document.getElementById("respostaHospedagem" + idHospedagemAtual).innerHTML = "Não foi possível comprar o número desejado (Atualize a Página)";
                } else {
                    document.getElementById("quartosDisponiveis" + idHospedagemAtual).innerHTML = response;
                    document.getElementById("respostaHospedagem" + idHospedagemAtual).innerHTML = "Sucesso";
                }
                
            }
        });
        
    }

    function ComprarViagem(idViagemAtual) {

        var qtdPessoas = document.getElementById("QtdPessoasViagem" + idViagemAtual).value;
        //alert(qtdPessoas + " pessoas compraram para viagem " + idViagemAtual);
        
        $.ajax({
            url: 'http://localhost:64421/api/Viagem/' + idViagemAtual + '/' + qtdPessoas,
            type: 'GET',
            success: function (response) {

                if (response == document.getElementById("passagensDisponiveis" + idViagemAtual).innerHTML) {
                    document.getElementById("passagensDisponiveis" + idViagemAtual).innerHTML = response;
                    document.getElementById("respostaViagem" + idViagemAtual).innerHTML = "Não foi possível comprar o número desejado";
                } else {
                    document.getElementById("passagensDisponiveis" + idViagemAtual).innerHTML = response;
                    document.getElementById("respostaViagem" + idViagemAtual).innerHTML = "Sucesso";
                }

            }
        });

    }

    
 
</script>

<body onload="BaixaDados()">

    <button class="btn-primary" onclick="MostraDados()">Mostrar Dados</button>

    <h2>Hospedagens</h2>
    <div id="Hospedagens"></div>
    <hr />

    <h2>Viagens</h2>
    <div id="Viagens"></div>

    <hr />
    <div id="Teste"></div>


</body>
