<script>
    //Locais
    var locais = new Array();

    //Hospedagens
    var hospedagens = new Array();
    var comprasHospedagens = new Array();
    var ticketsHospedagens = new Array();

    //Viagens
    var viagens = new Array();
    var compraViagens = new Array();
    var ticketsViagens = new Array();
    
    function BaixaLocais() {
        $.getJSON("http://localhost:64421/api/Local", function (json) {
            for (var k in json)
                locais[k] = json[k];
            document.getElementById("Teste").innerHTML += "Locais " + locais[0].Nome + "(" + locais.length + ") < br > ";
        });
    }

    function BaixaHospedagens() {
        $.getJSON("http://localhost:64421/api/Hospedagem", function (json) {
            for (var k in json)
                hospedagens[k] = json[k];

            document.getElementById("Teste").innerHTML += "Hospedagens " + hospedagens[0].QuartosDisponiveis + "(" + hospedagens.length + ")<br>";
            
        });
    }

    function BaixaViagens() {
        $.getJSON("http://localhost:64421/api/Viagem", function (json) {
            for (var k in json)
                viagens[k] = json[k];
            document.getElementById("Teste").innerHTML += "Viagens " + viagens[0].QtdDisponivel + "(" + viagens.length + ")<br>";
        });
    }

    function BaixaDados() {
        
        BaixaLocais();
        BaixaHospedagens();
        BaixaViagens();
       
    }

    function Comprar(idHospedagemAtual) {

        var qtdPessoas = document.getElementById("QtdPessoasHospedagem" + idHospedagemAtual).value;
        alert(qtdPessoas + " pessoas compraram para hospedagem " + idHospedagemAtual);

        $.ajax({
            url: 'http://localhost:64421/api/Hospedagem/' + idHospedagemAtual + '/' + qtdPessoas,
            type: 'GET',
            success: function (response) {
                document.getElementById("quartosDisponiveis" + idHospedagemAtual).innerHTML = response.QuartosDisponiveis;
                document.getElementById("resposta" + idHospedagemAtual).innerHTML = "Sucesso!";
            }
        });
        
    }

    function MostraDados() {
        
        for (var i in hospedagens) {

            var hospedagemAtual = hospedagens[i];
            var localAtual = "";

            for (var k in locais) {
                if (hospedagemAtual.IdLocal == locais[k].Id) {
                    localAtual = locais[k].Nome;
                }
            }

            document.getElementById("Hospedagens").innerHTML += "<div> Id:" + hospedagemAtual.Id +
                "<br> Local: " + localAtual +
                "<br> Quartos Disponíveis: <span id='quartosDisponiveis" + hospedagemAtual.Id + "'>" + hospedagemAtual.QuartosDisponiveis + "</span>" +
                "<br> Pessoas: <input id='QtdPessoasHospedagem"+ hospedagemAtual.Id +"'>" + 
                "<br> <button id = '" + hospedagemAtual.Id + "' onClick='Comprar(this.id)'>Finalizar Compra</button>" +
                "<br> <span id='resposta" + hospedagemAtual.Id + "'></div > <br>";

        }
        
    }
 
</script>

<body onload="BaixaDados()">

    <div>Número de passagens disponíveis:<span id="NumeroDePassagens"></span></div>

    <h2>Hospedagens</h2>
    <button onclick="MostraDados()">Mostrar Dados</button>
    <div id="Hospedagens"></div>
    
    <hr />
    <div id="Teste"></div>


</body>

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>-->
