<script>

    /*function ListaPassagens() {
        $.getJSON("https://mdn.github.io/learning-area/javascript/oojs/json/superheroes.json", function (json) {
            $("#NumeroDePassagens").text(json.members.length);
            for (var k in json.members) {
                document.getElementById("ListaPassagens").innerHTML += "<br><span>" + json.members[k].name + "</div>";
            }
        });
    }*/

    function ListaLocais() {
        $.getJSON("http://localhost:64421/api/BaseDeDados", function (json) {
            //$("#ListaLocais").text(json[0].Id);
            $("#ListaLocais").text(json.locais[0].Id);


            /*
            for (var k in json.members) {
                document.getElementById("ListaPassagens").innerHTML += "<br><span>" + json.members[k].name + "</div>";
            }*/
        });
    } 
</script>

<body onload="ListaLocais()">

    <div>Número de passagens disponíveis:<span id="NumeroDePassagens"></span></div>

    <div id="ListaPassagens"></div>
    <div id="ListaLocais"></div>

</body>

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>-->
